@model Raspertise.Models.RegisterModel


<div class="container h-100">
    <div class="row align-items-center min-vh-100">
        <div class="col-6 mx-auto">

            <div class="card bg-dark rounded">
                <div class="card-title w-100">
                    <div class="bg-primary text-white w-100 p-2">
                        <h4>Register Advertiser</h4>
                    </div>
                </div>
                <div class="card-body bg-dark">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="RegisterAdvertiser" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                        <input type="hidden" name="roleIdentity" value="@ViewBag.roleIdentity"/>

                        <div class="form-group">
                            <label class="text-light" asp-for="FirstName"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fas fa-user fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="FirstName" class="form-control border-0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-light" asp-for="LastName"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fas fa-user fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="LastName" class="form-control border-0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-light" asp-for="Email"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fas fa-user fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="Email" class="form-control border-0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-light" asp-for="Phone"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fa fa-phone fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="Phone" class="form-control border-0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-light" asp-for="Password"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fa fa-key fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="Password" class="form-control border-0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-light" asp-for="PasswordConfirm"></label>
                            <div class="input-group-prepend bg-white p-1 rounded">
                                <i class="fa fa-key fa-lg bg-white text-dark fa-fw rounded my-auto mx-auto pr-2" aria-hidden="true"></i>
                                <input asp-for="PasswordConfirm" class="form-control border-0"/>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>