@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="jumbotron small bg-dark">
        <h1 class="display-6 text-light">Welcome to Raspertise</h1>
        <p class="text-light">A decentralized advertising platform allowing Raspberry Pi owners to display advertisements and get paid for it.</p>
    </div>

    <div class="container">
      <div class="card-columns d-flex justify-content-center">
        <div class="card mx-3 py-3 bg-dark">
          <div class="card-block text-center  text-light">
            <h4 class="card-title text-light">I am an advertiser</h4>
            <p class="card-text text-light">I have a location to broadcast messages</p>
            <a class="btn btn-primary" asp-controller="Account" asp-action="RegisterAdvertiser">Sell my spot!</a>
          </div>
        </div>
        <div class="card mx-3 py-3 bg-dark">
          <div class="card-block text-center">
            <h4 class="card-title text-center text-light">I am a sponsor</h4>
            <p class="card-text text-light">I have a message I would like to send.</p>
            <a class="btn btn-primary" asp-controller="Account" asp-action="RegisterSponsor">Advertise!</a>
          </div>
        </div>
      </div>
    </div>

</div>