@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Welcome to Raspertise</h1>
        <p>A decentralized advertising platform allowing Raspberry Pi owners to display advertisements and get paid for it.</p>
    </div>

    <div class="container">
      <div class="card-columns d-flex justify-content-center">
        <div class="card mx-3 py-3">
          <div class="card-block text-center">
            <h4 class="card-title">I am an advertiser</h4>
            <p class="card-text">I have a location to broadcast messages</p>
            <button class="btn btn-primary">Sell my spot!</button>
          </div>
        </div>
        <div class="card mx-3 py-3">
          <div class="card-block text-center">
            <h4 class="card-title text-center">I am a sponsor</h4>
            <p class="card-text">I have a message I would like to send.</p>
            <button class="btn btn-primary">Advertise!</button>
          </div>
        </div>
      </div>
    </div>

</div>